<ion-view   hide-nav-bar="true"  view-title="sign-up">
        <ion-content ng-controller="signupCtrl">
        
          <div class="list">
          
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="user.email">
            </label>
          </div>
          <button  ng-click="send()" class="button button-block button-positive" >
              Sign-Up
            </button>
          <div class="padding">
            
            <p class="text-center">
            <a>Sign in</a>
              <a href="#/forgot-password"></a>
            </p>
          </div>
        </ion-content>
      </ion-view>