<ion-view view-title="">
	<ion-nav-buttons >
		<div class="bar bar-header  item-input-inset">

		  <label  class="mynav mysearch  bar-balanced  item-input-wrapper">
			  <a href=" #/tab/chats">
			    <i class="icon ion-ios-arrow-back placeholder-icon"></i>
			   </a>
			   <input  type="search" placeholder="Search">
		  </label>
		  
		</div> 

	</ion-nav-buttons>
	
	<ion-tabs  class="bar bar-subheader">
	        <div style="text-align: center; border-bottom:  1px solid #e4e4e4 " class="subheader">
	        	<a style="margin-left: 4%" class="tab-item">
	   				Top
				</a>
				<a class="tab-item">
				    People
				</a>
	  			<a class="tab-item">
	    			Tags
	  			</a>
	  			<a class="tab-item">
	   				Places
				</a>
				
			</div>
	</ion-tabs>
	
</ion-view>
