<ion-view view-title="">
	<ion-nav-buttons >
		<div class="bar bar-header  item-input-inset">

		  <label  class="mynav mysearch  bar-balanced  item-input-wrapper">
			  <a href=" ">
			    <i class="icon ion-ios-arrow-back placeholder-icon"></i>
			   </a>
			   <input  type="search" placeholder="Search">
		  </label>
		  
		</div> 

	</ion-nav-buttons>
	
	<ion-tabs  class="tabs-top">
	        <div class="subheader">
	        	<a class="tab-item">
	   				Top
				</a>
				<a class="tab-item">
				    People
				</a>
	  			<a class="tab-item">
	    			Tags
	  			</a>
	  			<a class="tab-item">
	   				Places
				</a>
				
			</div>
	</ion-tabs>
	<ion-content   class="padding">
	  		
	</ion-content>
</ion-view>
