<ion-view data-ng-init="choosePhoto();"  view-title="Post">
<ion-nav-buttons >
    <div class="bar bar-header  ">

      
        <a ui-sref="tab.post">
          <i class="icon ion-ios-arrow-back placeholder-icon"></i>
         </a>
        
      
    </div> 

  </ion-nav-buttons>
   <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="list card" style="margin-top: 30%;">

      <div  class="item item-divider" style="padding: 5%;">
        <h3 style="text-align: center;">Select method</h3>
      </div>

     
        <div class="row">
            <div class="col">
                <button class="button button-icon" ng-click="takePhoto()">
                    <i class="ion-ios-camera" style="font-size: 80px;"></i><br> Take a photo
                </button>
            </div>

            <div class="col">
            <

                <button  class="button button-icon" ng-click=""  >
                    <i  class="ion-ios-camera" style="font-size: 80px;"></i><br> Gallery
                </button>
              
            </div>
        </div>
     

    </div>
     <div >
        <img width="300px" height="300px" ng-src="{{lastPhoto}}">
        {{lastPhoto}}
        {{lastCation}}
      </div>
  </ion-content>
</ion-view>
