<ion-view ng-controller="PostCtrl" data-ng-init="" title="post" >
	
	<ion-content>
		
		<div style="border-bottom: 2px solid #e4e4e4; margin-left: 5%; width: 90%; margin-top: 10%" class="row">
			<div class="col">
				{{$scope.url}}
			</div>
			<div class="col">
				 <label  class="mynav mysearch  bar-balanced  item-input-wrapper">
					 
			   		<input ng-model="$scope.lastCaption"  type="search" placeholder="write caption">
			   		
		  		</label>
		  		
			</div>
			<button class="button button-outline button-positive"  ng-click="uploadPhoto()">post</button>

			


		</div>
		
		<div class="row">
			<div class="col">
		 		{{uploadResults}}
				
			</div>
			<div class="col">
		 		{{url}}
				
			</div>
			
		</div>
		<div style="border-bottom: 2px solid #e4e4e4; margin-left: 5%; width: 90%;" class="row">
			
			<div class="col">
				 <label  class="mynav mysearch  bar-balanced  item-input-wrapper">
					 
			   		<input  ng-model="lastTag" type="search" placeholder="Add Tags">

		  		</label>
			</div>
			


		</div>
		<div class="row">
			<button class="button button-balanced" ng-click="uploadPhoto()">
	          Test server connection
	        </button>
	        <div>
	          {{ serverConnection }} {{lastPhoto}}
	        </div>
		</div>
		<br>
		{{lastPhoto}}
		

	</ion-content>

</ion-view>