<ion-view ng-controller="DashCtrl"  data-ng-init=" fetch()" style=" " view-title="Instagram">
  <ion-content class="padding">
    
    <div  ng-repeat="post in posts | orderBy:'$index':true"    class="list card-clear">

  <div   class="item item-avatar">
    <img src="{{post.url}}">
    <h2 >   {{ post.username}} </h2>
    
    <p>November 05, 1955</p>
  </div>

  <div    class="item item-body">
    <img width="100%" height="80%" src="{{post.url}}">

    <p style="">
      {{post.caption}}
    </p>
    <p  ng-init="liked=0 " >{{likes}}
    <a ng-init="likes=5"  ng-click="liked=!liked;  " ><i  ng-if="liked==0" class="ion-ios-heart-outline"></i> <i  ng-if="liked==1" class="ion-ios-heart"></i></a>
      <a ui-sref="tab.chat-detail" class="subdued"> Comments</a>
    </p>
  </div>

</div>
  
  </ion-content>
</ion-view>
