<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs   class="tabs-icon-only tabs-color-active ">

  <!-- Dashboard Tab -->
  <ion-tab  title="home" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
    <ion-nav-view  name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-android-search" icon-on="ion-android-search" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Camera Tab -->
 
 <ion-tab title="camera" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/camera"  >
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>
  <!-- Account Tab -->
  
  <ion-tab tabIcon="customicon" title="Account" icon-off="ion-md-customicon" icon-on="ion-md-customicon" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

<ion-tab title="tabx" hidden="true">
    <ion-nav-view name="tabx"></ion-nav-view>
</ion-tab>
<ion-tab  title="comment" hidden="true">
    <ion-nav-view  name="yoooo"></ion-nav-view>
</ion-tab>
<ion-tab  title="editprofil" hidden="true">
    <ion-nav-view  name="tab-accountx"></ion-nav-view>
</ion-tab>
<ion-tab  title=signin" hidden="true">
    <ion-nav-view  name="tab-signin"></ion-nav-view>
</ion-tab>
<ion-tab  title=signup" hidden="true">
    <ion-nav-view  name="tab-signup"></ion-nav-view>
</ion-tab>
<ion-tab  title=searchedpost" hidden="true">
    <ion-nav-view  name="tab-searchedpost"></ion-nav-view>
</ion-tab>
<ion-tab  title=searcheduser" hidden="true">
    <ion-nav-view  name="tab-searcheduser"></ion-nav-view>
</ion-tab>
</ion-tabs>
